<% if is_logged? %>
    <div id='welcome-user'>  
        <div class='container-fluid'>
            Connected as: <span><%= current_user.username %></span> 
        </div>
    </div>
<% end %>

<div class='navbar navbar-expand-md navbar-dark bg-dark'>

    <%= link_to 'PrivateMembers', home_path , class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>

        <ul class='navbar-nav'>
            <li class='<%= 'active' if current_page?(home_path) %>'><%= link_to 'Events', home_path , class: 'nav-link' %></li>
        </ul>

        <ul class='navbar-nav ml-auto'>

            <% if is_logged? %>
                 <li class='dropdown'>
                    <a href="#" class='nav-link dropdown-toggle' data-toggle="dropdown">More</a>
                    <div class='dropdown-menu dropdown-menu-right'>
                        <%= link_to 'Profile', profile_path , class: 'dropdown-item'  %>
                        <%= link_to 'New event', new_user_event_path(current_user.id) , class: 'dropdown-item'    %>
                    </div>
                 </li>

                <li><%= link_to "Logout", logout_path, method: "delete", class: 'nav-link' %></li>
            <% else %>
                <li class='<%= 'active' if current_page?(signup_path) %>'><%= link_to 'Signup', signup_path , class: 'nav-link' %></li>
                <li class='<%= 'active' if current_page?(login_path) %>'><%= link_to 'Login', login_path , class: 'nav-link' %></li>
            <% end %>
  
        </ul>

    </div>

</div>



