<div class='container'>
   
    <div class='card event'>
    <h4 class='card-header text-primary'><%= @event.title %> </h4>
    <div class='card-body'>
        <p><span>Created by: </span><%= @event.creator.username %></p>
        <p><span>Description: </span><%= @event.description %></p>
    </div>
    <span class='card-footer'>
        <p><span>Location: </span><%= @event.location %></p>
        <p><span>Starts at: </span><%= @event.date %></p>
        <% if is_logged? && current_user != @event.creator && event_not_expired? %>
            <% if attende_event?%>
                <%= button_to 'Go to event',event_path(event_id: @event.id) , method: 'post', class: 'btn btn-primary'%>
            <% else %>
                <%= button_to "Don't go to event",event_path(event_id: @event.id) , method: 'delete', class: 'btn btn-secondary'%>
            <% end %>
        <% end %>
    </span>
    </div>

    <p><strong>Attendees:</strong></p>
    <hr>
    <ul>
        <% @event.invitations.each do |invitation| %>
            <li><%= invitation.attendee.username %></li>
        <% end %>
    </ul>

</div>